{% extends "base.html" %}

{% block lab %}
    Лабораторная работа 2. Цветы
{% endblock %}

{% block main %}
    <script>
    function addFlower() {
        const name = document.getElementById('flowerName').value;
        const price = document.getElementById('flowerPrice').value;
        if (name && price) {
            window.location.href = `/lab2/add_flower/${name}/${price}`;
        }
    }
    </script>

   <h1>Список цветов</h1>
   <p><b>Всего цветов:</b> {{ flower_list|length }}</p>
  
   <ul>
       {% if flower_list %}
           {% for flower in flower_list %}
               <li>
                   {{ flower.name }} - {{ flower.price }} руб.
                   <a href="{{ url_for('del_flower', flower_id=loop.index0) }}">[удалить]</a>
               </li>
           {% endfor %}
       {% else %}
           <li>Список пуст</li>
       {% endif %}
   </ul>

   <p><a href="{{ url_for('clear_flowers') }}">Удалить все цветы</a></p>

   <h3>Добавить цветок</h3>
    <input type="text" id="flowerName" placeholder="Название цветка">
    <input type="number" id="flowerPrice" placeholder="Цена" min="0">
    <button onclick="addFlower()">Добавить</button>
{% endblock %}

